main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /*positions form box height to middle*/
}

@media (max-width: 400px) {
    main > form {
        div.form-element {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            /*wraps the elements when width is small 
            so form element's label is on top instead 
            of on the side*/
        }
    }
}

main > form {
    width: 50%;
    background-color: #cfcdcd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
        margin: 0 10px;
        max-width: 100%;
    }
    textarea {
        resize: none;
        border: none;
        margin: auto 10px;
        height: 100px;
        width: 80%;
    }
    button {
        color: #fff;
        background-color: #1d44c2;
        cursor: pointer;
        border: none;
        padding: 5px 10px;
    }
    div.form-element {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 8px 0;
    }
}

input[type=file] {
        display: block;
        color: transparent;
        margin: 0 auto;
        max-width: 260px;
         width: 100%;
}

input[type="file"]::file-selector-button {
    background-color: #565657;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 auto;
}

/*header with class nav-header is used as a nav bar, 
idea taken from Lab3 materials*/
.nav-header {
    display: flex;
    justify-content: space-between; /*separates avatar and Home to opposite ends of the nav bar*/
    align-items: center; /*centers nav bar items vertically*/
    background-color: #afaeae;
    padding: 15px;
    border-radius: 10px;

    ul li a {
        color: #000000;
        text-decoration: none;
        /*remove underline and blue color from 
        list items (links) in nav*/
    }
        
    ul {
        list-style-type: none;
        /*removes bullet points from before list items*/
        margin: 0;
        padding: 0;
    }

}

.avatar img {
    width: 50px;
    height: 50px;
    /*change avatar image size in nav bar*/
}

/* #fileupload {
    display: none;
} */